@media screen and (max-width: 340px) {
  body {
    font-size: 8pt;
    text-align: center;
  }

  h1 {
    font-size: 20px;
    padding: 10px;
  }

  h2 h3 {
    font-size: 15px;
  }

  .container p-4 {
    padding: 15px;
  }

  .btn {
    display: inline-flex;
    font-weight: 200;
  }

  .navbar-toggler {
    padding: 2px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  .carousel-inner {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .carousel-item h3 {
    font-size: 15px;
  }
}