@import 'novedades';


/* variable index*/
$black:black;
$iconos:40px;
$fontfamily:'roboto';
$fontweight:400;
$fondo:lightgrey;
$titulos: bold;
$blanco: white;

/* disenio*/

*{
margin:10px
}

h1, h2, h3, h4 {
color: $black; }

.paddingTB {
align-items: center;
padding: 20px 10px 10px 10px;
}
.textoIndex {
    color: $blanco
    }
.container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.form-horizontal {
background:$fondo
}

/*seccion servicios*/

.marketing {
    h2 {
font-family: $fontfamily;
font-size: $fontweight;
}

.marketing .col-lg-4 {
margin-bottom: 2rem;
text-align: center;
.p {
margin-right: .75rem;
margin-left: .75rem;
text-align: justify;
} 
/* seccion nosotras*/
.featurette-divider {
margin: 5rem 0;} 

.featurette-heading {
font-weight: $fontweight;
line-height: 1;
letter-spacing: -.05rem;}